<html>
<head>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="/js/clearner.js"></script>
</head>
<body><div>
<form id="block">
<table>
<tr>
<td><label for="fromShIpRo">fromShIpRo </label></td>
<td><textarea name="fromShIpRo" id="fromShIpRo" rows="25" cols="40" style="height: 364px; width: 677px;" ></textarea></td>
</tr>
</table>
</form>
<button id="startClean" name="startClean">Start Clean</button>
<div id="result"></div>
<div id="resultMask"></div>
</div>
</body>
</html>
